
<div  style="background-color:yellow ;margin-top: 0px;margin-left: 50px;margin-right: 50px;">
<app-header ></app-header>
</div>

<div  style="background-color:rgb(210, 214, 204) ;margin-top: 50px;margin-left: 50px;margin-right: 50px;">
    <app-left-nav></app-left-nav>
</div>

<div  style="background-color:rgb(164, 164, 150) ;margin-top: 50px;margin-left: 50px;margin-right: 50px;">
        <router-outlet ></router-outlet>
</div>    


<div  style="background-color:rgb(204, 154, 900) ;margin-top: 150px;">
    <app-footer ></app-footer>
</div>

        
    









