<div>
<p>dog-table works!</p>
<img src="assets/dogs.jpg" style="height: 200px;"> 
<hr/>
          <table class="table table-bordered" style="margin-left: 20px;top: auto;">
            <thead>
              <tr>
                <th>SNO</th> 
                <th>Name</th>
                <th>Color</th>
                <th>Photo</th>
                <th>Price</th>
                <th>Breed</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
             
            
            </tbody>
          </table>
         
        </div>
